.irs-slider {
  background: #aaa ;
  border: black;
}

.irs-bar{
  background: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.irs-from, .irs-to{
  color: #fff;
  background: #000 ;
  font-size: 90%;
  margin-bottom:20px ;
}


.main-sidebar, .treeview-menu{
  background-color:#008d4b !important;
}

.irs-grid-text{
  color: #000 ;
  font-size: 100%;
}


.irs-grid-pol, .irs-grid-pol.small{
  background:#000;
}


.irs-min, .irs-max{
  background: rgba(0, 0, 0, 0.40);
}

#myh5{
  color:#000;
  font-size: 100% !important;
}

.control-label, .sidebar{
  color:#000;
  font-size: 110%;
}

.logo, .main-header{
  color:#000 !important;
  font-weight:400 !important;
  font-size:135% !important;
  background-color: #008d4b !important;
}

.content-wrapper{
  background-color:#fff;
}

.shiny-input-container {
    padding: 0px 15px 0px 15px !important; 
}

.form-group {
    margin-bottom: 5px;
}