.skin-green .main-header .navbar {
    background-color: #1f282d;
}

.skin-green .main-header .navbar .sidebar-toggle {
    color: #008d49;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #026f3a;
}

.skin-green .sidebar-menu>li.active>a, .skin-green .sidebar-menu>li:hover>a {
    color: #fff;
    background: #008d4a;
    border-left-color: #20282e;
    font-family: "Lucida Console", Monaco, monospace;
}

.skin-green .sidebar-menu>li>a {
    border-left: 3px solid transparent;
    font-family: "Lucida Console", Monaco, monospace;
}

.logo, .main-header{
  font-family: "Lucida Console", Monaco, monospace !important;
  color:#008d49 !important;
  font-weight:400 !important;
  font-size:135% !important;
  background-color: #1f282d !important;
}

.content-wrapper{
  background-color:#fff;
}

#myh3{
  font-family: "Lucida Console", Monaco, monospace;
  color:#a0adb4;
}

.main-sidebar, .treeview-menu {
    background-color: #20282e !important;
}

.control-label, .sidebar{
  color:#a0adb4;
  font-family: "Lucida Console", Monaco, monospace;
}

.shiny-input-container {
    padding: 0px 15px 0px 15px !important; 
}

.form-group {
    margin-bottom: 5px;
}


.irs-slider {
  background: #aaa ;
  border: black;
}

.irs-bar {
    background: #008d49;
    border-top: 1px solid #008d49;
    border-bottom: 1px solid #008d49;
}

.irs-from, .irs-to {
    color: #21282f;
    background: #6c7b74;
    font-size: 90%;
    margin-bottom: 20px;
}

.irs-grid-text{
  color: #a0adb4 ;
  font-size: 100%;
}

.irs-grid-pol, .irs-grid-pol.small{
  background:#a0adb4;
}

.irs-min, .irs-max{
  background: rgba(0, 0, 0, 0.40);
}


